body 
{

  font-size: 200%;
  margin-left: 4em; /* was 0 */
  margin-right: 8em; /* was 0 */
  padding: 0;
  background: #f6f6ee url(../images/bck.jpg);
  color: #3d414c;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav,
      section {
          display: block;
      }

a 
{
  text-decoration: underline;
  color: #961b25;/* dusty read */
}

nav, nav ul, nav li {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: block;
  float: left;
  margin: 0 4px;
}

article.deck{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

article.deck header, article.deck footer {
  width: 100%;
  margin: 0;
  position: fixed; 
  left: 0;
  font-size: 50%;
  background-image: url(../images/bck_head.jpg);
}



article.deck header {
  top: 0;
  overflow: hidden;
}



article.deck header h1, article.deck header nav,
article.deck footer p, article.deck footer #clock {
  margin: 1ex;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}

article.deck header h1,
article.deck footer #clock {
  color:#fff;
  float: left;
}

article.deck header h1 {
	color:#FFF;
	text-decoration: none;
	float: left;
	font-size: 24px;
	font-weight:bold;
	text-transform:uppercase;
	}
	
article.deck header nav,
article.deck footer p {
  color:#fff;
  float: right;
}

article.deck #slides section {
  margin-top: 100px;
  /*padding: 0 1em;*/
  text-align: center;
  line-height: 150%;
  padding-bottom: 30px;
}

article.deck #slides section a{
  margin: 30px 0;
  
  text-align: center;
  line-height: 150%;
}

article.deck #slides section li {
   margin: 0 auto;
   text-align: left;
   padding-bottom: 15px;
}

article.deck #slides section p {
  width: 70%;
  margin: 1em auto;
  
}

article.deck #slides section pre {
  text-align: left;
  width: 75%;
  margin: 0 auto;
}

article.deck footer {
  bottom: 0;
  overflow: hidden;
}

article.deck #slides section h2 img {
  vertical-align: middle;
}

article.deck #slides section h2 {
  line-height: 150%;
}


button 
	{
	border: 1px solid #ccc;
	padding: 6px;
	color: #666;
	text-decoration: none;
	/*line-height: 30px;*/
	background: #ddd;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	text-shadow: #fff 0px 1px 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background: -moz-linear-gradient(top,  #eeeeee,  #cccccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
	}
	
button:focus
	{
	color: #000;
	}	
button:active
   {

	box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.5);
	position: relative;
	top: 1px;
	left: 1px;
	}

#container
{
display: none;}


.multicolumn 
{
	-moz-column-count: 2;
	-webkit-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
}


table
{
    /*font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;*/
    border-collapse:separate;
    margin: 0 auto;
}

table thead th
{
	/*color: #961b25;*/
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-transform:uppercase;
	padding: 10px;
    border:1px solid #b2bbc0;
    text-align: left;
    background: #3d414c;
}
table tbody th
{
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-transform:uppercase;
	padding: 10px;
    border:1px solid #b2bbc0;
    text-align: left;
    background: #3d414c;
}	
	
table tbody td
{
    padding:10px;
    text-align:left;
    border:1px solid #b2bbc0;
}	

table tbody td:nth-child(even),table tbody th:nth-child(even),table thead th:nth-child(even)
{
    padding:10px;
    text-align:right;
    border:1px solid #b2bbc0;
}

table tbody tr:nth-child(even),table tbody tr:nth-child(even),table thead tr:nth-child(even)
{
    
    background: #b2bbc0;
    /*opacity: 0.7;*/
}

#prints {
display: none;
}

ol
{
margin-left: 10px;
}

.section-marker {
   margin-top: 40%;
   font-size: 150%;

}
