/* add your customized css here */

/* add your customized css here */


/*
#short-title {
	color:#fff;
	text-decoration: none;
	float: left;
	font-size: 16px;
	font-weight:bold;
	text-transform:uppercase;
	display:inline;
	margin-top: 20px;
	margin-left: 20px;
}

#inst-logo {
	text-decoration: none;
	float: right;
	font-size: 24px;
	font-weight:bold;
	text-transform:uppercase;
	display: inline;
	margin-right: 20px;
}

*/

li {
 margin-right: 4em;
}