body {
	margin: 20px;
	padding: 0;
	background: #f0f8ff;
	font: normal .7em Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
}

form {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #333333;
}

blink {
	color: blue;
	font:normal 1.5em Tahoma, Arial, Helvetica, sans-serif;
}

p, blockquote, ol, ul {
	line-height: 160%;
}

a {
	color: #3A69BA;
}

a:hover {
	text-decoration: none;
}
#add {
}
/*left*/

.lhs {
	float: left;
	clear: left;
	width: 200px;
	margin: 0 0 10px 0;
	padding: 0;
	background: #e6e6fa;
}
.lhs .heading {
	margin-top: 0;
	padding: 8px 15px;
	background: #5E80BD url(../images/img3.gif) no-repeat center bottom;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.lhs .content {
	margin: 0;
	padding: 5px 14px 10px 14px;
}

.lhs .content1 {
	margin: 0;
	
}


.lhs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.lhs li {
	padding: 3px 0;
	border-top: 1px dotted #1F1F21;
}
.lhs a{
	padding-left: 20px;
	background: url(../images/icon.jpeg) no-repeat left center;
	text-decoration: none;
	font-size : 1em;
}

.lhs  a:hover{
	color :brown;
}

.lhs li.first {
	border: none;
}

/* left1 */

.lhs1 {
	float: left;
	clear: left;
	width: 200px;
	margin: 0 0 10px 0;
	padding: 0;
	background: #e6e6fa;
}
.lhs1 .heading {
	margin-top: 0;
	padding: 8px 15px;
	background: #5E80BD url(../images/img3.gif) no-repeat center bottom;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.lhs1 .content {
	margin: 0;
	padding: 5px 14px 10px 14px;
}

.lhs1 .content1 {
	margin: 0;
	
}


.lhs1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.lhs1 a{
	padding-left: 20px;
	text-decoration: none;
	font-size : 1em;
}

.lhs1  a:hover{
	color :brown;
}

.lhs1 li.first {
	border: none;
}


/* Boxed */

.boxed {
	float: left;
	clear: left;
	width: 200px;
	margin: 0 0 10px 0;
	padding: 0;
	/*background: #EFF3F9;*/
	background: #f5f5f5;
}

.boxed .heading {
	margin-top: 0;
	padding: 8px 15px;
	background: #5E80BD url(../images/img3.gif) no-repeat center bottom;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.boxed .content {
	margin: 0;
	padding: 5px 14px 10px 14px;
}

.boxed ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.boxed li {
	padding: 3px 0;
	border-top: 1px dotted #1F1F21;
}

.boxed li.first {
	border: none;
}

.boxed a {
	padding-left: 10px;
	background: url(../images/img4.gif) no-repeat left center;
	text-decoration: none;
}
.boxed  a:hover{
	color :brown;
}
.boxed .heading a{

	color:#ffffff;
}

/* Wrapper */

#wrapper {
	width: 778px;
	margin: 0 auto;
}

/* Header */

#header {
	float: left;
	width: 200px;
	height: 150px;
	padding: 20px 0 0 0;
	text-align: center;
	background: url(../images/img1.jpg) no-repeat;/*top left image*/
}

#header h1 {
	margin: 0;
	padding: 43px 0 0 0;
	text-align: center;
	letter-spacing: -1px;
	font-size: 2.5em;
}

#header h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}
/*home*/

#home{
	float: right;
	width: 20px;
	height: 20px;
	/*background: url(../images/home.jpg);*/

}


/* Pages */

#pages {
	float: right;
	width: 568px;
	height: 150px;
	background:#5E80BD url(../images/top-img.jpg);
}
#pages h1 {
	margin: 0;
	padding: 40px 0 0 0;
	text-align: center;
	letter-spacing: -1px;
	font-size: 31px;
	font: bold;
	text-decoration: none;
	color: #FFFFFF;
	/*color:#000080;*/
}

#pages h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	color: #FFFFFF;
	/*color:#000080;*/
}

#pages ul {
	float: right;
	margin: 0;
	padding: 30px 15px 0 0;
	list-style: none;
	line-height: normal;
	
}

#pages li {
	display: inline;
}

#pages a {
	padding-left: 10px;
	text-decoration: none;
	font: bold 13px Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#pages a:hover {
	text-decoration: underline;
	color:yellow;
}

/* Content */

#content {
	clear: both;
	padding-top: 10px;
}

/* Content1 */

#content1 {
	clear: both;
	
}


/* Posts */

#posts {
	float: right;
	width: 520px;
	padding-right: 20px;
}

#post {
	padding-top: 10px;
}

#post .title {
	margin: 0;
	font-size: 1.7em;
}

#post .posted {
	margin-top: 0;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

#post .meta {
	margin: 2em 0 3em 0;
	border-top: 1px dotted #939A3C;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

#post .meta p {
	margin: 0;
}
#post a{
	text-decoration: none;
	}
/* Experiments */

#experiments {
}

/* Search */

#search {
}

#search .content {
	padding-bottom: 12px;
}

#textfield1 {
	width: 156px;
	padding: 5px 5px;
	border: 1px solid #000000;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	color: #000000;
}

#submit1 {
	display: none;
}
/* This CSS is used for the Show/Hide functionality(pin config). */
   .more {
      display: none;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666; }
   a.showLink, a.hideLink {
      text-decoration: none;
      color: #36f;
      padding-left: 8px;
      background: transparent url(down.gif) no-repeat left; }
   a.hideLink {
      background: transparent url(up.gif) no-repeat left; }
   a.showLink:hover, a.hideLink:hover {
      border-bottom: 1px dotted #36f; }

/* This CSS is used for the Show/Hide functionality(truth table). */
 .more1 {
      display: none;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666; }
   a.showLink1, a.hideLink1 {
      text-decoration: none;
      color: #36f;
      padding-left: 8px;
      background: transparent url(down.gif) no-repeat left; }
   a.hideLink1 {
      background: transparent url(up.gif) no-repeat left; }
   a.showLink1:hover, a.hideLink1:hover {
      border-bottom: 1px dotted #36f; }

/* Footer */

#footer {
	clear: both;
	border-top: 1px dotted #000000;
	text-align: left;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

#footer a {
	color: #999999;
}
