* {
	margin: 0;
	padding: 0;
}

body {
background: #FEAD1D url(images/bg.jpg) repeat-x;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 17px;
color: #222;
}

a {
text-decoration: none;
color: #FD9A01;
}
a:hover {
text-decoration: underline;
color: #111;
}

#wrap {
margin: 0 auto;
width: 800px;
}

#header {
height: 190px;
background: #FEAD1D url(images/header.jpg) no-repeat;
text-align: right;
}
#header h1 { 
font-size: 25px;
letter-spacing: -1px;
padding: 120px 40px 0 0;
color: #fff;
}
#header h1 a { 
color: #fff;
text-decoration: none;
font-weight: 100;
letter-spacing: -2px;
}
#header h1 a:hover {
color: #111;
}
#header h2 {
font-size: 18px;
color: #fff;
padding: 3px 40px 0 0;
letter-spacing: -1px;
font-weight: 100;
}

#content {
background: #FEAD1D url(images/content.jpg) repeat-y;
padding: 0 20px;
}

#Exp ul{
	text-align : center;
	text-color : black;
        background : none;
}
#Exp li{
	font-size : 25px;
padding : 10px 0px;
}
div.right {
float: right;
width: 440px;
text-align: justify;
margin-right: 10px;
}
div.right ul{
padding-left: 45px;
}
div.right ol{
padding-left: 20px;
}
div.right li{
font-size: 12px;
}
div.right h2 {
font-size: 18px;
font-weight: 100;
padding-left: 10px;
height: 26px;
line-height: 26px;
}
div.right h2 a {
text-decoration: none;

}
div.right h2 a:hover {

}

div.cleared
{
clear:both;
}
div.left {
float: left;
width: 150px;

}
div.left h2 {
margin: 0px 0 0 0;
padding-left: 10px;
height: 26px;
line-height: 26px;
color: #000;
font-size: 17px;
}
div.left ul {
padding: 10px 0 15px 20px;
color: #FD9A01;
list-style-type: none;
}
div.left ul li a {
text-decoration: none;
font-weight: 600;
}
div.left ul li a:hover {

}

div.menu {
float: right;
width: 150px;

}
div.menu h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 26px;
line-height: 26px;
color: #000;
font-size: 13px;
}
div.menu ul {
padding: 10px 0 15px 20px;
color: #FD9A01;
list-style-type: none;
}
div.menu ul li a {
text-decoration: none;
font-weight: 600;
}
div.menu ul li a:hover {

}
div.articles { padding: 10px; }

#bottom {
background : #FEAD1D url(images/bottom.jpg) no-repeat;
padding-top: 10px;
}

#footer {
text-align: center;
font-size: 11px;
color: #fff;
padding-bottom: 10px;
padding-top : 10px;
}
#footer a { color: #fff; }
#footer a:hover { color: #111; }
