*{
margin:0;
padding:0;
}
.main {
/*	background: none repeat-x scroll 0 -75px #19292E;*/
    border-radius: 7px 7px 0 0;
    height: 56.6em;
    left: 5em;
    position: absolute;
    top: -6em;
    width: 75em;
    z-index: -1;
}
/*
.logo-img{
	left: 6px;
    position: relative;
    top: 41px;
    transform: rotate(90deg);
  }*/

body {
	background: url("../images/bg.png");
	background-attachment:fixed;
}
.header{
 height: 7em;
    position: absolute;
    width: 71em;
}
@font-face{
	font-family:myFirstFont;
	src: url('DroidSerif-Regular.ttf'); /* IE9 */
}

.a2network {
    color: #fdfdfd;
    float: left;
    font-family: Monaco,monospace;
    font-size: 1em;
    position: relative;
    right: -54em;
    text-shadow: 0 -1px 0 #111111;
    top: 0%;
      
}
.disp {
	display: none;
}
.save {
	overflow: hidden !important;
}
.objName {
	margin: 0.5em 0 0 0.5em;
}
.label1 {
	margin: 1.8em 0;
}
.sub1 {
	color: #464E52;
	height: 1.5em;
	font-weight: normal;
	margin: 0 4em;
	position: relative;
	top: -2.6em;
	width: 7em;
	font-family: myFirstFont;
}
.saveState {
	float: left;
	margin: 2em 3em;
}
.openState {
	margin: 2em 4em;
}
.radiobtn{
	margin: 0.5em 0 0 1.7em;
	height: auto;
	width: auto;
	float: none;
}
.h2{
  	color: #FDFDFD;
    float: left;
    font-family: myFirstFont;
    font-size: 17pt;
    font-weight: normal;
    margin: 2em -8em;
    text-align: center;
    text-indent: 17em;
}


.primary {
    background: -moz-linear-gradient(left center , #C5C4C6, #E9E9EB 5%, #D5D4D5) repeat scroll 0 0 #EEEEEE;
	 background: -ms-linear-gradient(left center , #C5C4C6, #E9E9EB 5%, #D5D4D5) repeat scroll 0 0 #EEEEEE;
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#C5C4C6),color-stop(0.05,#E9E9EB),color-stop(1,#D5D4D5));
 background:#D5D4D5;
    border-radius: 0 5px 0 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3), 0 1px 0 #EEEEEE inset;
   height: 58%;
    left: 20.2%;
    position: relative;
     top: 25%;
    width: 80.1%;
   z-index:1;
   
}
.circle {
    background: none repeat scroll 0 0 #D6D6D6;
    border-radius: 7px 0 0 1px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(111, 192, 220, 0.5) inset;
    height: 131px;
    position: absolute;
    width: 123px;
    z-index: 10;
}
/*
.circle:after{
    background: none repeat scroll 0 0 #19292E;
    border-radius: 0 4px 4px 0;
    bottom: -0.5em;
    content: "";
    display: block;
    height: 0.5em;
    margin: 13.46em 0;
    position: absolute;
    right: 0;
    width: 0.3em;
}*/



.a{
 font-size: 18pt;
    left: 2em;
    position: absolute;
    text-decoration: none;
    top: -1.3em;}
.b{
   font-size: 18pt;
    left: 5.7em;
 
    position: absolute;
    text-decoration: none;
    top: -1.3em;}
.c{
 font-size: 14pt;
    left: 2.8em;
    position: absolute;
    text-decoration: none;
}
.un{
 font-size: 14pt;
    left: 7.6em;
   
    position: absolute;
    text-decoration: none;
}
/*
 .circle:before {
    background: none repeat scroll 0 0 #3E87B3;
    bottom: -0.312em;
    content: "";
    display: block;
   // height: 0.313em;
    position: absolute;
    right: 0;
    width: 0.25em;
}*/

.logo-title{
 -moz-transform: rotate(90deg);
	  -webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	color: #60b5da;
    font-size: 20pt;
    line-height: 1em;
    margin-left: 0.6em;
    margin-right: 0.5em;
    margin-top: 0.1em;
    text-align: center;
}

.logo-title small{
color: #222222;
}
 .primary:after{
    background: none repeat scroll 0 0 #19292E;
    border-radius: 0 4px 4px 0;
    bottom: -0.5em;
    content: "";
    display: block;
    height: 0.5em;
    position: absolute;
    right: 0;
    width: 0.25em;
}



 .primary:before {
    background: none repeat scroll 0 0 #3E87B3;
    bottom: -0.312em;
    content: "";
    display: block;
    height: 0.313em;
    position: absolute;
    right: 0;
    width: 0.25em;
	
	
}
.primary {
 color:#222;
 // color: #2D94C1;
 font-family:Arial;
    //font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15pt;
    font-weight: normal;
    margin-top: 0.5em;
    text-align: center;
	   position:absolute;
	     text-indent: 18em;
     // -moz-transform: rotate(-2deg);
}
/*
.hr {
	background-image: url("../images/index.png");
	border-color: #1E1E1E #666666 #3D3D3D;
	border-style: solid;
	border-width: 0.063em;
	box-shadow: 0em 0.063em 0.313em rgba(0, 0, 0, 0.4) inset;
	clear: left;
	 height: 0.7em;
	 top: 46.5em;
	left:0;
	position: relative;
	width: 70.9em;
}
hr {
	 background-image: url("../images/index.png");
    border-color: #1E1E1E #666666 #3D3D3D;
    border-style: solid;
    border-width: 0.063em;
    box-shadow: 0 0.063em 0.313em rgba(0, 0, 0, 0.4) inset;
    clear: left;
    height: 0.7em;
    left: 0;
    position: relative;
    top: 1em;
    width: 70.9em;
}
*/
footer {
	 background: none repeat scroll 0 0 #22383F;
    bottom: 0;
    left: 0.9em;
    position: relative;
    right: 0.4em;
    top: 53.5em;
    width: 69.7em;
	//-moz-box-shadow: -5px -5px 0 5px #19292E;
}
h4 {
	bottom: 4px;
	color: #000;
	font-size: 0.7em;
	font-weight: 300;
	line-height: 14pt;
	text-align: center;
}
.container4 {
	background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #888888;
    border-radius: 7px 0 0 0;
    border-top: 1px solid #888888;
    box-shadow: 10px 10px 6px #19292E;
    height: 42em;
    left: -0.3em;
    position: absolute;
    top: 10em;
    width: 52em;
    z-index: 20;
}
.container4:before {
	content: "";
	display: block;
	background: #eee;
	border-left: solid 1px #888;
	height: 5px;
	width: 4px;
	position: absolute;
	left: -1px;
	bottom: -5px;
}
.container4:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -8px;
	background: #19292E;
	display: block;
	width: 4px;
	height: 8px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.primary1{
     background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 5px 0 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
    height: 16em;
    position: absolute;
    right: -0.3em;
    top: 10em;
    width: 20em;
    z-index: 10;
}
section.primary1:hover{
	  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 20px 50px rgba(255, 255, 255, 1) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
	//-moz-box-shadow: 0 -2px 5px #FFFFFF inset, 0 20px 50px rgba(255, 255, 255, 0) inset, 0 -20px 50px rgba(0, 0, 0, 0.33) inset, 0 2px #fff, 0 4px #FFFFFF, 0 6px #fff, 0 8px #FFFFFF, 0 -2px #fff, 0 -4px #FFFFFF, 0 -6px #fff, 0 -8px #FFFFFF, 0 0 10px #000;
}
 .primary1:after{
   
    background: none repeat scroll 0 0 #19292E;
    border-radius: 0 4px 4px 0;
    bottom: -0.6em;
    content: "";
    display: block;
    height: 0.5em;
    position: absolute;
    right: -0.1em;
    width: 0.35em;
}

 .primary1:before {
   // background-position: right -0.062em;
}

 .primary1:before{
   // background-color: #13455C;
}

 .primary1:before {
     background: none repeat scroll 0 0 #19292E;
    bottom: -0.312em;
    content: "";
    display: block;
    height: 0.13em;
    position: absolute;
    right: 0;
    width: 0.35em;
	
}
.formula{
     background: #fff;
	//  background: -moz-linear-gradient(left center , #2D94C1, #2D94C1 15%, #1F6485 95%, #13455C) repeat scroll 0 0 #3E87B3;
    border-radius: 0 5px 0 0;
    border:1px solid #DDDDDD;
   height: 23em;
    position: absolute;
    right: -0.3em;
    top: 29em;
    width: 20em;
    z-index: 10;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
	 // -moz-box-shadow: 0 -2px 5px #FFFFFF inset, 0 20px 50px rgba(255, 255, 255, 2) inset, 0 -20px 50px rgba(0, 0, 0, 0.33) inset, 0 2px #fff, 0 4px #FFFFFF, 0 6px #fff, 0 8px #FFFFFF, 0 -2px #fff, 0 -4px #FFFFFF, 0 -6px #fff, 0 -8px #FFFFFF, 0 0 10px #000;
}
section.formula:hover{
		   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 20px 50px rgba(255, 255, 255, 2) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3) inset;
		//-moz-box-shadow: 0 -2px 5px #FFFFFF inset, 0 20px 50px rgba(255, 255, 255, 0) inset, 0 -20px 50px rgba(0, 0, 0, 0.33) inset, 0 2px #fff, 0 4px #FFFFFF, 0 6px #fff, 0 8px #FFFFFF, 0 -2px #fff, 0 -4px #FFFFFF, 0 -6px #fff, 0 -8px #FFFFFF, 0 0 10px #000;
}
 .formula:after{
    background: none repeat scroll 0 0 #19292E;
    border-radius: 0 4px 4px 0;
    bottom: -0.6em;
    content: "";
    display: block;
    height: 0.5em;
    position: absolute;
    right: -0.1em;
    width: 0.35em;
}

 .formula:before {
   // background-position: right -0.062em;
}

 .formula:before{
   // background-color: #13455C;
}

 .formula:before {
    background: none repeat scroll 0 0 #19292E;
    bottom: -0.312em;
    content: "";
    display: block;
    height: 0.13em;
    position: absolute;
    right: 0;
    width: 0.35em;
	
}
.diagram {
	 border-bottom: 30px solid #19292E;
    border-left: 30px solid transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial;
    font-weight: bold;
    height: 0;
    line-height: 51px;
    top: -0.7em;
	 left: 41em;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    z-index: -100;
	//text-shadow:0px 3px -4px #4f8192;
	
}
div.diagram:hover{
color: #d5ecf6;
}
div.speed-rot:hover{
color: #d5ecf6;
}
.speed-rot {
	border-bottom: 35px solid #19292E;
	border-left: 30px solid transparent;
	color: white;
	display: inline-block;
	font-weight: bold;
	height: 0;
	line-height: 51px;
    top: 26.4em;
	 left: 33em;
	padding: 10px;
	position: absolute;
	text-shadow: -2px-2px 1px #333;
	font-family: Arial;
	width: 12em;
	  z-index: -1;
	//	text-shadow:0px 3px -4px #4f8192;
}
#tabs-1 {
	 border-radius: 10px 10px 10px 10px;
    box-shadow: 0 -2px 5px #FFFFFF inset, 0 20px 50px rgba(255, 255, 255, 0.9) inset, 0 -20px 50px rgba(0, 0, 0, 0.33) inset, 0 2px #CCCCCC, 0 4px #FFFFFF, 0 6px #AAAAAA, 0 8px #FFFFFF, 0 -2px #CCCCCC, 0 -4px #FFFFFF, 0 -6px #AAAAAA, 0 -8px #FFFFFF, 0 0 10px #000000;
    color: #000000;
    display: inline-block;
    height: 22em;
    margin: 2.7em 1em;
    opacity: 1;
    padding: 15px 10px;
    text-align: center;
     width: 46em;
    z-index: 1000;
}
.control {
	-moz-border-radius: 10px 10px 10px 10px;
	-moz-box-shadow: 0 -2px 5px #FFFFFF inset, 0 20px 50px rgba(255, 255, 255, 0.9) inset, 0 -20px 50px rgba(0, 0, 0, 0.33) inset, 0 2px #CCCCCC, 0 4px #FFFFFF, 0 6px #AAAAAA, 0 8px #FFFFFF, 0 -2px #CCCCCC, 0 -4px #FFFFFF, 0 -6px #AAAAAA, 0 -8px #FFFFFF, 0 0 10px #000000;
 -webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 -2px 5px #FFFFFF inset, 0 20px 50px rgba(255, 255, 255, 0.9) inset, 0 -20px 50px rgba(0, 0, 0, 0.33) inset, 0 2px #CCCCCC, 0 4px #FFFFFF, 0 6px #AAAAAA, 0 8px #FFFFFF, 0 -2px #CCCCCC, 0 -4px #FFFFFF, 0 -6px #AAAAAA, 0 -8px #FFFFFF, 0 0 10px #000000;
-ms-border-radius: 10px 10px 10px 10px;
	-ms-box-shadow: 0 -2px 5px #FFFFFF inset, 0 20px 50px rgba(255, 255, 255, 0.9) inset, 0 -20px 50px rgba(0, 0, 0, 0.33) inset, 0 2px #CCCCCC, 0 4px #FFFFFF, 0 6px #AAAAAA, 0 8px #FFFFFF, 0 -2px #CCCCCC, 0 -4px #FFFFFF, 0 -6px #AAAAAA, 0 -8px #FFFFFF, 0 0 10px #000000;
border-radius: 10px 10px 10px 10px;
	box-shadow: 0 -2px 5px #FFFFFF inset, 0 20px 50px rgba(255, 255, 255, 0.9) inset, 0 -20px 50px rgba(0, 0, 0, 0.33) inset, 0 2px #CCCCCC, 0 4px #FFFFFF, 0 6px #AAAAAA, 0 8px #FFFFFF, 0 -2px #CCCCCC, 0 -4px #FFFFFF, 0 -6px #AAAAAA, 0 -8px #FFFFFF, 0 0 10px #000000;
 color: #000000;
    display: inline-block;
    height: 8em;
     margin: 0.7em 1em;
    padding: 15px 10px;
  //  position: absolute;
    text-align: center;
    width: 46em;
	 z-index: -1;
}