body  {
	font-family:"Cambria","Times new roman","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	background: #f6f6ee url(../images/bck.jpg);
}

#main-content
{
	margin:0;
	padding:0;
	position:relative;
}
header#site_head {

	background: url(../images/bck_head.jpg);

	/* create a shadow of dark pinkish red */

	x-shadow: inset 0px -1px 4px #480508;
	-moz-box-shadow: inset 0px -1px 4px #480508;
	-khtml-box-shadow: inset 0px -1px 4px #480508;
	-webkit-box-shadow: inset 0px -1px 4px #480508;
	box-shadow: inset 0px -1px 4px #480508;

	/* solid border of greyish white */

	height: 40px;
	width: 100%;
	display: block;
}
/* header of 960px width */


#logo 
	{
	float:left;
	position:relative;
	font-family: Georgia, "Times New Roman", Times, Serif;
	}
#help-menu 
	{
	float:right;
	position:relative;
	}

#logo a:link, #logo a:visited  
	{
	color:#FFF;
	text-decoration: none;
	float: left;
	font-size: 24px;
	font-weight:bold;
	font-variant: small-caps;
	padding: 5px 5px;
	}
#help-menu a:link, #help-menu a:visited
	{
	color:#FFF;
	text-decoration: none;
	float: right;
	font-size: 24px;
	text-transform:uppercase;
	padding: 5px 25px;
	width:200px;
	}
 
#logo a:hover, #logo a:focus, #help-menu a:hover, #help-menu a:focus
	{
	color: #CC3300;
	/*background-color:#cc3300;*/
	}

nav 
	{
	float:left;
	height:28px;
	position:relative;
	width:100%;

/*	background-color: #961b25;*/
	background: url(../images/bck_head.jpg);

	x-shadow: 0px 1px 3px #555555;
	-moz-box-shadow: 0px 1px 3px #555555;
	-khtml-box-shadow: 0px 1px 3px #555555;
	-webkit-box-shadow: 0px 1px 3px #555555;
	box-shadow: 0px 1px 3px #555555;

	}
nav ul
	{
	margin-left:21px;
	}

nav ul li 
	{
	float: left;
	list-style: none;
	margin-right: 0.5em; 
	}
 
nav li a:link, nav li a:visited 
	{
	color: #ffffff;
	float: right;
	font-size: 18px;
	padding: 3px 9px;
	}
 
nav li a:hover, nav li a:focus 
	{
	color: #000000;
	background-color:#ffffff;

	border-radius: 16px;

	x-shadow: 0px 0px 5px #000000;
	-moz-box-shadow: 0px 0px 5px #000000;
	-khtml-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;

	}

nav li a.menu-active
	{
	color: #000000;
	background-color:#ffffff;

	border-radius: 16px;

	x-shadow: 0px 0px 5px #000000;
	-moz-box-shadow: 0px 0px 5px #000000;
	-khtml-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	}	

/* main-title : h1 tag 50px, Georgia, with border around */
header#main-title 
	{
	font-size: 24px;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-weight: normal;
	text-transform: none;
	color: #FFFFFF;
	letter-spacing: 0;
	float: left;
	padding: 5px 0px;
	}

header#section-title 
	{
	font-size: 24px;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-weight: normal;
	text-transform: none;
	color: #FFFFFF;
	letter-spacing: 0;
	float: left;
	padding: 5px;
	}

#left-content 
	{
	width: 655px;
	float: left;
	padding: 5px 10px 0 0;
	font-size: 16px;
  	line-height: 24px;
	margin-bottom:20px;
	margin-left: 30px;
	}

#left-content p
	{
	padding-bottom: 10px;
	}


h2 
	{
	color:#222222;
	font-family:"Cambria","Times new roman",serif;
	font-size:24px;
	font-weight:300;
	padding:5px 0 10px;
	}

h3 
	{
	color:#222222;
	font-family:"Cambria","Times new roman",serif;
	font-size:20px;
	font-weight:300;
	padding:5px 0 10px;
	
	}

#left-content span
	{
	font-style:italic;
	}

#left-content img
	{
/*	width:80%;
	margin: 10px 0;
	border: 1px solid #b2bbc0; */
	}

#left-content embed
	{
	width:100%;
	height:400px;
	border: 1px solid #b2bbc0;
	}

/* List of thumbnails */
#left-content .experiment-list
{
	float:left;
}

#left-content .experiment-thumb img
	{
	width:160px;
	height:80px;

	}

#left-content .experiment-list .experiment-thumb strong
	{
	margin-top: 5px;
	clear:both;
	}
/*
#left-content .experiment-list a:link img,
#left-content .experiment-list a:visited img 
	{
	margin-bottom: 4px;
	border: 5px solid #ccc;
	float: left;
	}
*/

#hidden-content
	{
	display:none;
	}

table td 
	{
	padding-bottom:10px;
	padding-right: 10px;
	}
#test
	{
	width:60%;
	height:60%;
	}
