* {
	margin: 0;
	padding: 0;
}



header#site_head {

	background: url(images/bck_head.jpg);

	/* create a shadow of dark pinkish red */

	x-shadow: inset 0px -2px 3px #480508;
	-khtml-box-shadow: inset 0px -2px 3px #480508;
	-webkit-box-shadow: inset 0px -2px 3px #480508;
	box-shadow: inset 0px -2px 3px #480508;

	/* solid border of greyish white */

	border-bottom: 1px solid #fffffb;
	height: 40px;
	width: 100%;
	display: block;
}
/* header of 960px width */




body 	{
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Arial,sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	background: #f6f6ee url(images/bck.jpg);
	}



#header {
height: 111px;
margin-top:20px;
margin-bottom:30px;
font-size:24px;
text-align: left;
background-color:
}





#logo a:link, #logo a:visited  
	{
	color:#FFF;
	text-decoration: none;
	float: left;
	font-size: 24px;
	font-weight:bold;
	text-transform:uppercase;
	padding: 5px 29px;
	width:95.9%;
	}
	
	
#logo a:hover, #logo a:focus, #help-menu a:hover, #help-menu a:focus
	{
	color: #CC3300;
	background-color:#480508;
	/*background-color:#cc3300;*/
	}


a {
text-decoration: none;
color: #660000;
text-shadow:#666666;

}
a:hover {
text-decoration: underline;
background-image:url(images/bck_head.jpg);
color: #FFFFFF;
}

#wrap {
margin: 0 auto;
width: 80%;
}


#header h1 { 
font-size: 25px;
letter-spacing: -1px;
padding: 120px 40px 0 0;
color: #fff;
}
#header h1 a { 
color: #fff;
text-decoration: none;
font-weight: 100;
letter-spacing: -2px;
}
#header h1 a:hover {
color: #111;
}
#header h2 {
font-size: 18px;
color: #fff;
padding: 3px 40px 0 0;
letter-spacing: -1px;
font-weight: 100;
}

#content {

padding: 0 20px;
}

#Exp ul{
	text-align : center;
	text-color : black;
        background : none;
}
#Exp li{
	font-size : 25px;
padding : 10px 0px;
}



div.left {

float: left;
	width: 150px;
	
}
div.left h2 {
margin: 0px 0 0 0;
padding-left: 10px;
height: 26px;
line-height: 26px;
color: #000;
font-size: 17px;
}
div.left ul {
padding: 10px 0 15px 20px;
color: #FD9A01;
list-style-type: none;
}
div.left ul li a {
text-decoration: none;
font-weight: 600;
}
div.left ul li a:hover {

}





div.right {
float: right;
	width: 56%;
}
div.right ul{
padding-left: 45px;
}
div.right ol{
padding-left: 20px;
}
div.right li{
font-size: 12px;
}
div.right h2 {
font-size: 18px;
font-weight: 100;
padding-left: 10px;
height: 26px;
line-height: 26px;
}
div.right h2 a {
text-decoration: none;

}
div.right h2 a:hover {

}

div.cleared
{
clear:both;
}

div.menu {
float: right;
	width: 150px;
	padding-left:30px;

}
div.menu h2 {
margin: 10px 0 0 0;
padding-left: 10px;
height: 26px;
line-height: 26px;
color: #000;
font-size: 13px;
}
div.menu ul {
padding: 10px 0 15px 20px;
color: #FD9A01;
list-style-type: none;
}
div.menu ul li a {
text-decoration: none;
font-weight: 600;
}
div.menu ul li a:hover {

}
div.articles { padding: 10px; }



#footer {
text-align: center;
font-size: 11px;
color: #fff;
padding-bottom: 10px;
padding-top : 10px;
}
#footer a { color: #fff; }
#footer a:hover { color: #111; }





#container{

text-align: left;
	margin: 0px 0;
	padding: 0px;
	border:0;
	width: 800px;
	
	}
	
#left {
float: left;
	width: 150px;
	
	padding-right:40px;
	
  
}
#center{
 float: left;
	width: 56%;
}
#right{
float: right;
	width: 150px;
}










